<div class="container users-title">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title collapse2">Posts</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="page-title-translate collapse3">すべての投稿</p>
    </div>
  </div>
</div>

  <div class="container">
    <div class="post--new">
    <% if user_signed_in? %>
      <%= link_to new_post_path do %>
       <i class="fas fa-plus-circle fa-2x fa-pull-right">新規投稿</i>
      <% end %>
    <% end %>
    </div>
    <div class="posts">
      <div class="jscroll">
        <%= render 'posts' %>
        <div class="skill-list">
          <%= link_to_next_page @posts, '次のページ', class: "next" %>
        </div>
      </div>
    </div>
  </div>