<% @posts.each do |post| %>
<div>
  <%= post.user.name %>
  <%= post.body %>
  <%= attachment_image_tag post.user, :profile_image, format: 'jpeg', fallback: "no_image.png", size: "100x100"  %>
</div>
<% end %>
<%= paginate @posts %>