  <div class="container">
    <div class="row">
      <div class="jscroll">
        <%= render 'posts' %>
        <div class="skill-list">
          <%= link_to_prev_page @posts, '前のページ', class: "prev" %>
          <%= link_to_next_page @posts, '次のページ', class: "next" %>
        </div>
      </div>
    </div>
  </div>