// Place all the styles related to the public/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events {
   padding-bottom: 150px;
   margin-top: 30px;
  .card {
    max-width: 80%;
    margin: 0 auto;
    font-size: 20px;
  }
}

.record__new {
  margin: 0 auto;
}
