// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
  border-bottom: 1px solid #939597;
  .w-2\/5 {
    width: 40%;
  }
}

.users-title {
  padding: 40px;
}

.tab-content {
  padding-bottom:150px;
  margin-top:50px;
}

.profile__nav {
  justify-content: center;
  font-size: 30px;
}

.profile__posts {
  max-width: 50%;
  margin: 0 auto;

  .post-container {
    padding: 20px;
  }
}

.profile__name {
  font-size: 30px;
  text-align: center;
}

.profile__calender {
  max-width: 80%;
  margin: 0 auto;

 .has-events {
   background: #F5DF4D;
 }
 .calendar-heading {
   font-size: 30px;
   text-align: center;
   margin-bottom: 20px;
 }
}

.profile__edit {
  .form-group {
    margin-bottom: 30px;
  }
}

.profile__edit--btn {
  margin: auto;
}

.user__unsubscribe {
  padding: 200px;
  text-align: center;

  p {
    font-size: 30px;
  }
}

.user__follow {
  max-width: 60%;
  margin: 0 auto;
  font-size: 20px;
}

.search-form {
    margin-bottom: 20px;
    text-align: end;
}

.users--profile {
  padding-bottom: 150px;
  margin-top: 50px;
}

.users__pagenate {
  margin: 0 auto;
  text-align: center;
  .pagination {
    display: block;
  }
}