// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 0 0 0 auto;
}

.new-field {
  margin-top: 30px;
}

/* show */

.users-container {
  width: 100%;
}

.user-profile {
  border: solid lightgray 2px;
  padding: 20px;
  margin: 0 0 0 auto;
}

.user-posts {
  margin-top: 40px;
}

.thead-color {
  background-color: mediumturquoise;
  color: white;
}

.users {
  width: 80%;
  margin: 0 0 0 auto;
  margin-top: 200px;
}