<ul>
  <li><%= link_to '種目新規登録', new_admin_event_path %></li>
</ul>
<table>
<% @events.each do |event| %>
 <tr>
   <td>
    <%= link_to event_path(event) do %>
     <%= event.name %>
    <% end %>
    </td>
 </tr>

<% end %>
</table>