<h4>種目詳細画面</h4>

<table>
  <tr>
    <th>カテゴリー</th>
    <td><%= @event.genre.name %></td>
  </tr>
  <tr>
    <th>種目名</th>
    <td><%= @event.name %></td>
  </tr>
  <tr>
    <th><%= link_to '編集', edit_admin_event_path %></th>
  </tr>
</table>