<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag 'people.jpg', class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jogging.jpg', class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
       <%= image_tag 'training.jpg', class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
       <%= image_tag 'man.jpg', class: "d-block w-100" %>
    </div>
  </div>
</div>


<div class="about">
  <h2 class="page-title">About this site</h2>
  <p class="page-title-translate">このサイトについて</p>

    <div class="about-content">
      <p class="about-text">
        TRECODEはトレーニングSNSサイト兼トレーニング記録サイトです<br />
        トレーニングの記録やつぶやきを投稿するためには会員登録が必要です<br />
        会員登録をしなくても投稿を見ることは可能です
      </p>
    </div>
    <div class="about-content">
      <h3 class="thema">Thema <span class="about-min-title">テーマ</span></h3>

      <p class="about-text">
        全国のトレーニー達と出会い<br />
        自分のトレーニングに活かしたり<br />
        モチベーションをアップさせて<br />
        最高のトレーニングライフを送りましょう
      </p>
    </div>
</div>
