<h3>
  TRECODEはトレーニングSNSサイト兼トレーニング記録サイトです。<br />
  トレーニングの記録やつぶやきを投稿するためには会員登録が必要です。<br />
  会員登録をしなくても投稿を見ることは可能です。<br />
  全国のトレーニー達と出会い、自分のトレーニングに生かしたり、モチベーションをアップさせて<br />
  最高のトレーニングライフを送りましょう！！！
</h3>