<section class="toppage font-sans h-screen w-full bg-cover text-center flex flex-col items-center justify-center"
  style="no-repeat center;">
  <label for="" class="uppercase tracking-extrawide text-xs font-hairline mt-8">トレーニングを記録するには会員登録が必要です</label>
  <h3 class="text-white mx-auto max-w-sm mt-4 font-normal text-2xl leading-normal"><%= link_to 'トレーニングを記録する', new_record_path %></h3>
</section>