<div class="nested-fields mb-3">
  <%= f.hidden_field :id %>
  <div class="record__field--set">
    <%= f.number_field :weight, placeholder: "(例)12.5", "step" => "0.5" %>　Kg&nbsp;
    <%= f.number_field :rep, placeholder: "(例)8", "pattern"=>"\\d*" %> 回&nbsp;
    <%= link_to_remove_association '削除', f, class: 'btn btn-danger p-0' %>
  </div>
</div>