<div class="nested-fields">
  <%= f.hidden_field :id %>
  <%= f.number_field :weight, placeholder: "Kg", "step" => "0.5" %>　Kg
  <%= f.number_field :rep, placeholder: "(例)8", "pattern"=>"\\d*" %> 回
  
  <%= link_to_remove_association '削除', f, class: 'btn btn-outline-secondary btn-sm p-0' %>
</div>