<div class="new-record" id="new-record">
  <div class="new-record＿Box">
    <h4>トレーニングを記録する</h4>
    <div class="newecord＿Box＿Form">
      <%= render 'form', path: records_path, method: :post, record: @record %>
    </div>
  </div>
</div>