<div class="new-record" id="new-record">
  <div class="new-record＿Box"> 
    <h1>トレーニングを記録する</h1>
    <div class="newecord＿Box＿Form">
      <%= render 'form', path: records_path, method: :post, record: @record %>
    </div>
  </div>
</div>