// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin--users {
   font-size: 20px;
   text-align: center;
   padding-bottom: 150px;
   margin-top: 30px;
  .table {
    margin: 10px auto;
    max-width: 80%;
  }
  .pagination {
    display: inline-block;
  }
}