/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 .main {
     background-color: #F0EEE9;
     min-height: 1200px;
 }

.footer {
    list-style: none;
    z-index: 100;
    align-items: center;
    background-color: #939597;
    border-top: 1px solid gray;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 30px;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 30px;
}

.user--signin {
    padding: 100px;
    display: flex;
}

.form-signin {
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}