<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<table>
  <tr>
    <td rowspan="3"><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.png", size: "100x100" %></td>
    <td><%= @user.name %>  </td>
  </tr>
  <tr>
    <td><strong></strong> フォロー中</td>
  </tr>
  <tr>
    <td><strong></strong> フォロワー</td>
  </tr>
</table>

<table>
  <tr>
    <td colspan="5" rowspan="5"><%= @user.introduction %></td>
  </tr>
</table>

