<div class="user__unsubscribe">

  <h1 class="font-weight-bold"><strong>本当に退会しますか？</strong></h1>

  <p class="mt-5">
    退会すると、会員登録情報や<br />
    これまでのトレーニングの記録が閲覧できなくなります。<br />
    退会する場合は、「退会する」をクリックしてください。
  </p>

  <div class="mt-5">
    <%= link_to "退会しない", "/#{@user.name}", class: "btn btn-primary mr-5 w-25" %>
    <%= link_to "退会する", users_widthdraw_path, method: :patch, class: "btn btn-danger w-25" %>
  </div>
</div>

